@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global CSS */

*,
:before,
:after {
  box-sizing: border-box;
  font-size: 16px;
}

body,
html {
  padding: 0;
  margin: 0;
}

.letter:hover {
  transform: scale(1, 1.8);
}

.hero-section,
.works {
  background: rgb(20, 20, 20);
  background: radial-gradient(
    circle,
    rgba(20, 20, 20, 1) 0%,
    rgba(35, 78, 67, 1) 90%
  );
}
